/*-- Definite van BlockQuotes (uitgelichte tekstblokken) ----------------------------*/
blockquote 
{
  /* margin-left: 20px !important; */
  font-family:  'Esteban', serif !important;
  font-style: italic;
  border-color: transparent !important;
  border-style: none !important;
/*  background-color: darkgray;-*/
  background-color: lightblue !important;
  font-weight: bold !important;
  font-size: 1.2em !important;
  color: white;
      border-left-width: 0.5em;
    border-left-style: solid;
    border-color: #0F80CC;
    background: #e8f3fa;
    counter-increment: dfn-counter 1;
}

/*-- Optioneel een symbool voor de blockquote --------------------------------------*/
blockquote:before 
{
  display: block;
  height: 0;
  /* content: "|"; */   
  margin-left: -0.95em;
  font-weight: bold;
  font-size: 1.5em;
  font: italic 400%/1 Esteban, serif;
  color: grey;
}
